<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/styles.css'>
    <title>$title</title>
  </head>
  <body>
    <div class="container">
      #parse($header)
      <div class="row">
        <div class="jumbotron col-md-6 col-md-offset-3">
          #parse($template)
        </div>
      </div>
    </div>
  </body>
</html>
